.title {
  text-align: center;
  margin: 30px 0;
  margin-top: 7rem;
  font-size: 28px;
  color: #2c1f31;
  text-decoration: underline;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.yearCard {
  background-color: #0505059d;
  color: white;
  width: 150px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.yearCard:hover {
  transform: scale(1.05);
  background-color: #2c1f31;
}

.branchList {
  margin-top: 10px;
  background-color: #2c1f31;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.branchItem {
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.branchItem:hover {
  background-color: #05070a;
  border-radius: 10px;
}
