.quizContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ad48483a;
    border-radius: 8px;
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .questionContainer,
  .resultContainer {
    margin-top: 20px;
  }
  
  .questionText {
    font-size: 1.2rem;
    color: #222;
  }
  
  .optionsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .optionLabel {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .radioInput {
    margin-right: 10px;
  }
  
  .nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #161e27;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .resultTitle {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .resultScore {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .questionList {
    margin-top: 20px;
  }
  
  .questionResult {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  
  .correctAnswer {
    color: #007bff;
  }
  