.footerWrapper {
  margin: 6rem 0;
  display: flex;
  flex-direction: column; /* Stack elements vertically for mobile view */
  align-items: center;
  margin-top: 10rem;
}

.footerLogoContainer {
  max-width: 110px;
}

.footerIcons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.footerIcons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .footerWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footerSectionTwo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3rem;
  }

  .footerSectionColumns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
  }

  .footerSectionColumns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
  }
}

/* Further adjustments for wider screens */
@media (min-width: 1024px) {
  .footerWrapper {
    margin: 6rem 2rem;
    padding: 0 2rem;
  }

  .footerSectionTwo {
    justify-content: flex-end;
  }

  .footerSectionColumns {
    min-width: 200px;
  }
}
